<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css"
      rel="stylesheet"
    />
    <link href="../static/style.css" rel="stylesheet" />
    <title>Login</title>
  </head>
  <body>
    <section>
      <div class="row no-gutters bg-dark">
        <div class="col-xl-5 col-lg-12 register-bg">
          <div class="position-absolute testiomonial p-4">
            <h3 class="textobg font-weight-bold text-light">UTS Cultura y Deporte.</h3>
            <p class="textobg lead text-light">
              Continua ingresando tus datos para poder verificar tu estatus, consultar créditos entre otras cosas.
            </p>
          </div>
        </div>
        <div class="col-xl-7 col-lg-12 d-flex">
          <div class="container align-self-center p-6">
            <div class="logoUts">
              <img
                class="col-xl-3 mb-5"
                id="logo"
                src="../static/images/logo.png"
                alt="Logo"
              />
            </div>

            <h1 class="font-weight-bold mb-3">Inicio de Sesión</h1>
            <p class="text-muted mb-5">Continúa para acceder.</p>

            <form method="post" action="{% url 'login:login' %}">
              {% csrf_token %}

              <!-- Campo Matrícula -->
              <div class="form-group mb-3">
                <label class="font-weight-bold">Matrícula<span class="text-danger">*</span></label>
                <input
                  type="text"
                  name="login"
                  class="form-control"
                  placeholder="Ingresa tu matrícula"
                  required
                />
                <!-- Mostrar errores del campo Matrícula -->
                
              </div>

              {% if form.login.errors %}
                  <div class="text-danger ml-3">
                    <ul class="mb-0">
                      {% for error in form.login.errors %}
                        <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}

              <!-- Campo Contraseña -->
              <div class="form-group mb-3 mt-3">
                <label class="font-weight-bold">Contraseña<span class="text-danger">*</span></label>
                <input
                  type="password"
                  name="password"
                  class="form-control"
                  placeholder="Ingresa una contraseña"
                  required
                />
                <!-- Mostrar errores del campo Contraseña -->
                
              </div>

              {% if form.password.errors %}
                  <div class="text-danger ml-3">
                    <ul class="mb-0">
                      {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}

              <div class="form-group mb-5 mt-3">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="remember"
                    name="remember"
                  />
                  <label class="form-check-label text-muted" for="remember">Recordar</label>
                </div>
              </div>

              <button class="btn btn-outline-danger width-100" type="submit">
                Iniciar Sesión
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
